body {
    background-color: rgb(255, 255, 255);
}
h1 {
    color : rgb(224, 30, 30);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180%;
}

nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul{
    margin: 5;
    padding: 10;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block ;
    vertical-align: middle ;
    list-style-type: none;
}
 
/* Create a style for the first level items */
nav > ul > li > a {
    color: #aaa;
    background-color:rgb(0, 0, 0);
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    border-radius: 10px;
}

nav a:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

nav a:hover{
  background-color: rgb(255, 255, 255);
  color: black
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #EE82EE; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}